[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
cryptography = "*"
pytz = "*"
markdown = "*"
alembic = "*"
pyyaml = "*"
parsita = "*"
dateparser = "*"
humanize = "*"
more-itertools = "*"
pillow = "*"
openai = "*"
pytimeparse = "*"

[dev-packages]

[requires]
python_version = "3.12"
