[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
cryptography = "*"
pytz = "*"
alembic = "*"
dateparser = "*"
pyyaml = "*"
humanize = "*"
pillow = "*"
openai = "*"
pytimeparse = "*"

[dev-packages]
black = "*"
pytest = "*"
pretend = "*"
pyright = "*"
ruff = "*"

[requires]
python_version = "3.12"
